.container-filtro-envio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.analise-filtro-envios{
    display: flex;
    justify-content: center;
    width: 25%;
    align-items: center;
}

.analise-filtro-envios2{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}